*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#canvas{
    position: absolute;
    width:700px;
    height:600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
  
  }

#start{
  position: absolute;
  width:200px;
  height:50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:transparent;
  z-index: 2;
  border: none;
  font-size: 25px;
  border: 3px dashed orangered;
  color: white;
  /*display: none;*/
}  